.failureviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 100vh;
}

.failureView {
  height: 100px;
  width: 100px;
}
