.noJobsFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #ffffff;
}

.noJobsImage {
  height: 400px;
  width: 500px;
}
