.retryButton {
  background-color: #6366f1;
  color: white;
  padding: 10px;
}

.jobs-bg-container {
  background-color: black;
  padding: 20px;
}

.leftContainer {
  width: 40vw;
  padding: 20px;
  position: sticky;
  height: 100vh;
  top: 0;
  overflow-y: auto;
}

.listItems {
  list-style-type: none;
  display: flex;
  align-self: flex-start;
  color: antiquewhite;
}

.jobsDisplayContainer {
  width: 60vw;
  color: white;
}

.heading {
  color: antiquewhite;
}

.searchCont {
  background-color: transparent;
  border-radius: 3px;
  color: white;
  width: 300px;
  border: none;
}

.searchIcon {
  border-radius: 3px;
  border-style: none;
}

.searchContainer {
  border-style: none;
  display: flex;
  margin-left: 40px;
}

.containers {
  display: flex;
}

.linkElement {
  text-decoration: none;
}

.listItems {
  list-style-type: none;
  display: flex;
  align-self: flex-start;
  color: antiquewhite;
}

.errorImage {
  height: 100px;
  width: 200px;
}
